<div id="<%= dom_id product %>" class="table-row-group">
  <div class = "table-cell pr-4">
    <%= product.name %>
  </div>

  <div class = "table-cell pr-4">
    <%= product.categories %>
  </div>

  <div class = "table-cell pr-4">
    <%= product.current_price %>
  </div>

  <div class = "table-cell pr-4">
    <%= product.actual_price %>
  </div>

  <div class = "table-cell pr-4">
    <%= product.discount %>
  </div>

  <div class = "table-cell pr-4">
    <%= product.rating %>
  </div>

</div>
